
$fontFamily: 'IBM Plex Sans', sans-serif;

html, body{ font-family: $fontFamily;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

.middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
        margin: 0px 10px;
    }
}

section{
    height:90vh;
    width:100%;
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-direction:column;
    
}
.body{
    margin: 0;
}
.cont{
    width:90%;
    max-width:500px;
    padding:20px;
    box-shadow: 0px 0px 20px black;
    background-color:#ba4c4e;
    border-radius: 8px;

}

.form{
    width:100%;
    margin-top:20px;
    font-size: 20px;

}

.form input, form textarea{
    width:97%;
    padding:5px;
    font-size:18px;
    border:1px solid black;
    margin-top:5px;
}

.right {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
}

.left{
    font-size: 30px;
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover { color: white; transition: .2s;}

.textarea{
    resize:vertical;

}

button{
    width:100%;
    border:none;
    padding:20px;
    outline:none;
    font-size:24px;
    border-radius: 8px;
    color:#793031;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
button:hover{
    background-color:#f0c5c6;
    transition: 1s;
}

#status{
    width:90%;
    max-width:500px;
    text-align: center;
    padding:9px;
    margin: px auto;
    border-radius: 8px;
    margin-top: 10px;
}


.error{
    background-color:lightcoral;
    color:white;

}

@keyframes status{
    0%{
        opacity: 1s;
        pointer-events: all;
    }
    90%{
        opacity: 1s;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}