
$fontFamily: 'IBM Plex Sans', sans-serif;

html, body{ font-family: $fontFamily;}

.right {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;

    .left{
        font-size: 30px;
    }

}
a {
    text-decoration: none;
}