
$fontFamily: 'IBM Plex Sans', sans-serif;
$MainColor: rgb(208, 232, 234);
html, body{
     font-family: $fontFamily;
     background-color: $MainColor;
    }

.right {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
    background-color: #d78533; 
    margin-bottom: 150px;
=======
    background-color: aquamarine;
>>>>>>> ef604780d9cf7b4073a059d860b3d95a1f20ed67
    .left{
        font-size: 30px;
    }
    

}
a {
    text-decoration: none;
    color: inherit;
}


.letter {
    color: $MainColor!important;
}

.calendarContent{
    display: inline-block;
}

tbody {
    background-color: #cb997e
  
    
}


tbody > td {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 10em;
    height: 10em;
}
tbody > td:hover {
    border-style: solid;
    border-color: #b7b7a4;
}

tbody > td > p {
    display: flex;
    justify-content: space-evenly;
}
.calendarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}